﻿<div data-ng-controller="Shell as vm">
    <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
        <div class="page-splash">
            <div class="page-splash-message">
             <img src="/src/client/content/images/LOGO-GSB.png" width="10%" height="10%" alt="logo-GSB">
            </div>
        </div>
    </div>
    
    <div   data-ng-include="'login/login.html'" ng-if="!vm.authenticated"></div>
    <header class="clearfix" ng-show="vm.authenticated">
        <div data-ng-include="'app/layout/topnav.html'"></div>
    </header>
    <section id="content" class="content" ng-show="vm.authenticated">
        <div data-ng-include="'app/layout/sidebar.html'"></div>

        <div data-ng-view class="shuffle-animation"></div>
    </section>
</div>
<!-- particles.js container -->

