﻿<div data-cc-sidebar when-done-animating="vm.sidebarReady()" data-ng-controller="Sidebar as vm">
    <div class="sidebar-filler"></div>
    <div class="sidebar-dropdown"><a href="#">Menu</a></div>
    <div class="sidebar-inner">
        <div class="sidebar-widget"></div>
        <ul class="navi">
            <li ng-show="$root.user.level == 0"> <a href="#/" target="_self"><i class="fa fa-home"></i> Frais</a></li>
            <li ng-show="$root.user.level == 1"> <a href="#/comptable" target="_self"><i class="fa fa-home"></i> Comptable</a></li>
            <li> <a href="#" target="_self" ng-click="vm.deconnexion()"><i class="fa fa-sign-out"></i> Déconnexion</a></li>
        </ul>
    </div>
</div>