﻿<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title"> Application Frais - GSB <!--{{vm.title}} --></span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li>
             
                </li>
                <li class="dropdown dropdown-big">
               
                </li>
                <li>
                    
                </li>
            </ul>
        </div>
    </div>
</nav>