﻿<section class="mainbar" id="Fond">
    <section class="matter">
       <div class="container">
          <div class="row">
             <div class="widget wblue">
                <div data-cc-widget-header title="{{vm.title}}"></div>
                <div class="widget-content user">
                   <!-- Boutton et Liste -->
                   <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalFraisForfait">Ajouter un Frais</button>
                   <!-- Boutton et Liste -->
                   <!-- Modals et formulaire d'entrée -->
                   <div class="modal fade" id="ModalFraisForfait" tabindex="-1" role="dialog" aria-labelledby="ModalFraisForfaitLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                         <div class="modal-content">
                            <div class="modal-header">
                               <h5 class="modal-title" id="ModalLabel">Ajouter un frais</h5>
                               <button type="button" class="close" data-dismiss="modal" aria-label="Annuler">
                               <span aria-hidden="true">&times;</span>
                               </button>
                            </div>
                            <div class="modal-body">
                               <form name="fraisForm" method="post">
                                  <div class="form-group">
                                     <label for="date">Date</label>
                                     <input type="date" ng-model="vm.form.date" class="form-control" id="date" required>
                                  </div>
                                  <div class="form-group">
                                     <label for="TypeFrais">Type de frais</label>
                                     <select class="form-control"  id="SelectForm" ng-model="vm.form.select" required>
                                        <option disabled selected value>-- Choisir une option --</option>
                                        <option value="ETP">Forfait Etape</option>
                                        <option value="KM">Frais Kilométrique</option>
                                        <option value="REP">Repas Restaurant</option>
                                        <option value="NUI">Nuitée Hôtel</option>
                                        <option value="Autre">Autre (hors forfait)</option>
                                     </select>
                                  </div>
                                  <div class="box-one" id="FF" method="post" ng-show="vm.form.select != 'Autre'">
                                     <!-- Formulaire FF  -->
                                     <!-- + Récuperer le mois actuel < 10 -->
                                     <div class="form-group">
                                        <label for="TextArea">Description</label>
                                        <textarea class="form-control" id="TextArea" ng-model="vm.form.description" placeholder="Description" required></textarea>
                                     </div>
                                     <div class="form-group">
                                        <label for="Quantity">Quantité</label>
                                        <input  type="number" ng-model="vm.form.quantite" name="quantity" min="0" required>
                                     </div>
                                  </div>
                                  <div class="box-one" id="HF" method="post" ng-show="vm.form.select == 'Autre'">
                                     <!-- Formulaire HF -->
                                     <!--ng-show="vm.frais == 4" -->
                                     <!-- + Récuperer le mois actuel < 10 -->
                                     <div class="form-group">
                                        <label for="TextArea">Libellé</label>
                                        <textarea class="form-control" ng-model="vm.form.libelle" id="TextArea" placeholder="Motif" required></textarea>
                                     </div>
                                     <div class="form-group">
                                        <label for="Quantity">Montant</label>
                                        <input type="number" name="quantity" ng-model="vm.form.montant" min="1" required>
                                     </div>
                                  </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" ng-click="vm.addFrais(vm.form)" class="btn btn-primary">Valider</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            </div>
                            </form>
                         </div>
                      </div>
                   </div>
                   <!-- Modals et formulaire d'entrée -->
                   <!-- Tables synthèse du mois -->
                   <h2 id="syntheseFF" ng-show="vm.selectFrais == 'AfficheFF'">Eléments forfaitisés (synthèse du mois)</h2>
                   <h2 id="syntheseHF" ng-show="vm.selectFrais == 'AfficheHF'">Eléments Hors Forfait (synthèse du mois)</h2>
                   <table class="table table-hover table-bordered table-striped">
                      <thead>
                         <tr>
                            <th scope="col"></th>
                            <th scope="col">Forfait Étape</th>
                            <th scope="col">Frais Kilométrique</th>
                            <th scope="col">Nuitée Hôtel</th>
                            <th scope="col">Repas restaurant</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <th scope="row">Quantité totale</th>
                            <td>{{vm.finalstat[3][0].totalquantite}}</td>
                            <td>{{vm.finalstat[2][0].totalquantite}}</td>
                            <td>{{vm.finalstat[1][0].totalquantite}}</td>
                            <td>{{vm.finalstat[0][0].totalquantite}}</td>
                         </tr>
                         <tr>
                            <th scope="row">Montant total</th>
                            <td>{{vm.finalstat[3][0].total}}</td>
                            <td>{{vm.finalstat[2][0].total}}</td>
                            <td>{{vm.finalstat[1][0].total}}</td>
                            <td>{{vm.finalstat[0][0].total}}</td>
                         </tr>
                      </tbody>
                   </table>
                   <div class="alert alert-info" role="alert">
                      Total des frais forfaitisés : {{vm.totalstat}}
                   </div>
                   <div class="alert alert-warning" role="alert" style="margin-top:-30px">
                      Total des frais hors forfait : {{vm.totalhf}}
                   </div>
                   <!-- Tables synthèse du mois -->
                   <!-- Tables de frais -->
                   <ul class="nav nav-tabs box-one">
                      <li class="active"><a data-toggle="tab" target="_self" href="#menu1">Frais forfaitisés</a></li>
                      <li><a data-toggle="tab" href="#menu2" target="_self">Frais hors forfait</a></li>
                      <li><a data-toggle="tab" href="#menu3" target="_self">Ma fiche</a></li>
                   </ul>
                   <div class="tab-content box-one">
                      <div id="menu1" class="tab-pane fade in active">
                         <h2 id="syntheseFF">Vos éléments forfaitisés du mois</h2>
                         <table class="table table-hover table-bordered table-striped">
                            <thead>
                               <tr>
                                  <th scope="col">Date</th>
                                  <th scope="col">Type de frais</th>
                                  <th scope="col">Description</th>
                                  <th scope="col">Quantité</th>
                                  <th scope="col">Action</th>
                               </tr>
                            </thead>
                            <tbody>
                               <tr data-ng-repeat="f in vm.fraisforfait" ng-app="ngAnimate">
                                  <td>{{vm.translateInMonth(f.mois.slice(-2))}} - {{f.mois.slice(0,4)}}</td>
                                  <td>{{f.idFraisForfait}}</td>
                                  <td>{{f.description}}</td>
                                  <td>{{f.quantite}}</td>
                                  <td width="10%">
                                     <i id="icone" class="fa fa-minus-circle" style="color:red;" ng-click="vm.deleteFraisFF(f.IDFF)"></i>
                                     <i id="icone" class="fa fa-edit"  style=" color:green;" href="#FF{{f.IDFF}}" data-toggle="modal"></i>
                                     <div class="modal fade"  
                                        id="FF{{f.IDFF}}" data-backdrop="static" data-keyboard="false" tabindex="-1"
                                        role="dialog" aria-hidden="true">
                                        <div class="modal-dialog">
                                           <div class="modal-content">
                                              <div class="modal-header">
                                                 <h4 class="modal-title">Modifier un frais forfaitisé</h4>
                                              </div>
                                              <div class="modal-body">
                                                 <form id="edit" method="post">
                                                    <div class="form-group">
                                                       <label>Date</label>
                                                       <input type="date" class="form-control" ng-model="vm.editFFForm.date" id="date" placeholder="{{vm.translateInMonth(f.mois.slice(-2))}} - {{f.mois.slice(0,4)}}">
                                                    </div>
                                                    <div class="form-group">
                                                       <label>Type de frais</label>
                                                       <select class="form-control" ng-model="vm.editFFForm.idFraisForfait" id="SelectForm" ng-model="vm.selectType">
                                                          <option disabled selected value>--  {{f.idFraisForfait}} --</option>
                                                            <option value="ETP">Forfait Etape</option>
                                                            <option value="KM">Frais Kilométrique</option>
                                                            <option value="REP">Repas Restaurant</option>
                                                            <option value="NUI">Nuitée Hôtel</option>
                                                       </select>
                                                    </div>
                                                    <div class="form-group">
                                                       <label>Description</label>
                                                       <textarea class="form-control" ng-model="vm.editFFForm.description" placeholder="{{f.description}}"></textarea>
                                                    </div>
                                                    <div class="form-group"> 
                                                       <label>Quantité</label>
                                                       <input type="number" name="quantity" min="0" ng-model="vm.editFFForm.quantite" placeholder="{{f.quantite}}">
                                                    </div>
                                                 </form>
                                              </div>
                                              <div class="modal-footer">
                                                 <button type="button" ng-click="vm.updateFraisFF(vm.editFFForm,f.IDFF)" class="btn btn-link">Modifier</button>
                                                 <button type="button" class="btn btn-link" data-dismiss="modal">Annuler</button>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                      <div id="menu2" class="tab-pane fade">
                         <h2 id="syntheseHF">Vos éléments Hors Forfait du mois</h2>
                         <table class="table table-hover table-bordered table-striped">
                            <thead>
                               <tr>
                                  <th scope="col">Date</th>
                                  <th scope="col">Libellé</th>
                                  <th scope="col">Montant</th>
                                  <th scope="col">Action</th>
                               </tr>
                            </thead>
                            <tbody>
                               <tr data-ng-repeat="f in vm.fraishorsforfait" ng-app="ngAnimate">
                                  <td>{{f.date| date:"dd/MM/yyyy"}}</td>
                                  <!--   'at' h:mma -->
                                  <td>{{f.libelle}}</td>
                                  <td>{{f.montant}} €</td>
                                  <td width="10%">
                                     <i id="icone" class="fa fa-minus-circle" style=" color:red;" ng-click="vm.deleteFraisHF(f.id)"></i>
                                     <i id="icone" class="fa fa-edit" href="#FH{{f.id}}" data-toggle="modal" style=" color: green;"></i>
                                     <div class="modal fade" id="FH{{f.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1"role="dialog" aria-hidden="true">
                                        <div class="modal-dialog">
                                           <div class="modal-content">
                                              <div class="modal-header">
                                                 <h4 class="modal-title">Modifier un frais hors forfait</h4>
                                              </div>
                                              <div class="modal-body">
                                                 <form id="editFHForm">
                                                    <div class="form-group">
                                                       <label for="date">Date</label>
                                                       <input type="date" class="form-control" ng-model="vm.editFHForm.date" placeholder="{{vm.translateInMonth(f.mois.slice(-2))}} - {{f.mois.slice(0,4)}}">
                                                    </div>
                                                    <div class="form-group">
                                                       <label for="TextArea">Libellé</label>
                                                       <textarea class="form-control" ng-model="vm.editFHForm.libelle" placeholder="{{f.libelle}}"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                       <label for="Quantity">Montant</label>
                                                       <input type="number" name="quantity" min="1" ng-model="vm.editFHForm.montant" placeholder="{{f.montant}}">
                                                    </div>
                                                 </form>
                                              </div>
                                              <div class="modal-footer">
                                                 <button type="button"  ng-click="vm.updateFraisHF(vm.editFHForm,f.id)" class="btn btn-link">Modifier</button>
                                                 <button type="button" class="btn btn-link" data-dismiss="modal">Annuler</button>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                      <div id="menu3" class="tab-pane fade">
                         <h2 id="syntheseHF">Votre fiche frais du mois</h2>
                         <table class="table table-hover table-bordered table-striped">
                            <thead>
                               <tr>
                                  <th scope="col">Date</th>
                                  <th scope="col">Nombre justificatifs</th>
                                  <th scope="col">Montant</th>
                                  <th scope="col">État</th>
                               </tr>
                            </thead>
                            <tbody>
                               <tr ng-app="ngAnimate">
                                  <td>{{vm.fiche.dateModif | date:"dd/MM/yyyy"}}</td>
                                  <!--   'at' h:mma -->
                                  <td>{{vm.fiche.nbJustificatifs}}</td>
                                  <td>{{vm.fiche.montantValide}} €</td>
                                  <td>{{vm.fiche.libelle}}</td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                   <!-- Tables de frais -->
                </div>
             </div>
          </div>
       </div>
    </section>
 </section>