﻿<section class="mainbar" id="Fond">
        <section class="matter">
           <div class="container">
              <div class="row">
                 <div class="widget wblue">
                    <div data-cc-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content user">
                       <form id="fraisForm">
                          <div class="form-group">
                             <label for="TypeFrais">Nom du visiteur</label>
                             <select class="form-control" id="SelectForm" ng-model="vm.choiceVisiteur" ng-change="vm.selectVisiteur(vm.choiceVisiteur)">
                                <option disabled selected value>-- Choisissez le visiteur --</option>
                                <option data-ng-repeat="f in vm.visiteur" value="{{f.id}}">{{f.nom}}&nbsp;{{f.prenom}}</option>
                             </select>
                          </div>
                          <div class="form-group box-one" ng-show="vm.choiceVisiteur">
                             <label for="TypeFrais">Mois</label>
                             <select class="form-control" id="SelectForm" ng-model="vm.choiceMonth" ng-change="vm.selectMois(vm.choiceMonth)">
                                <option disabled selected value>-- Choisissez le mois --</option>
                                <option data-ng-repeat="f in vm.moisVisiteur" value="{{f.mois}}">{{vm.translateInMonth(f.mois.slice(-2))}} - {{f.mois.slice(0,4)}}</option>
                             </select>
                          </div>
                       </form>
                    </div>
                    <ul class="nav nav-tabs box-one" ng-show="vm.choiceVisiteur && vm.choiceMonth">
                       <li class="active">
                          <a data-toggle="tab" target="_self" href="#menu1">Frais forfaitisés</a>
                       </li>
                       <li>
                          <a data-toggle="tab" href="#menu2" target="_self">Frais hors forfait</a>
                       </li>
                       <li>
                          <a data-toggle="tab" href="#menu3" target="_self">Fiche</a>
                       </li>
                    </ul>
                    <div class="tab-content box-one" ng-show="vm.choiceVisiteur && vm.choiceMonth">
                       <div id="menu1" class="tab-pane fade in active">
                          <h2 id="h2" class="box-one">Eléments forfaitisés de {{vm.translateIdVisiteur(vm.choiceVisiteur)}}
                             pour {{vm.translateInMonth(vm.choiceMonth.slice(-2))}}
                          </h2>
                          <table class="table table-hover table-bordered table-striped">
                             <thead>
                                <tr>
                                   <th scope="col">Mois</th>
                                   <th scope="col">Type de frais</th>
                                   <th scope="col">Description</th>
                                   <th scope="col">Quantité</th>
                                   <th scope="col">Action</th>
                                </tr>
                             </thead>
                             <tbody>
                                <tr class="item" data-ng-repeat="f in vm.fraisForfaitVisiteur">
                                   <td>{{vm.translateInMonth(f.mois.slice(-2))}}
                                      - {{f.mois.slice(0,4)}}
                                   </td>
                                   <td>{{f.libelle}}</td>
                                   <td>{{f.description}}</td>
                                   <td>{{f.quantite}}</td>
                                   <td width="10%">
                                        <i id="icone" class="fa fa-minus-circle" style="color:red;" ng-click="vm.deleteFraisFF(f.IDFF)"></i>
                                        <i id="icone" class="fa fa-edit"  style=" color:green;" href="#FF{{f.IDFF}}" data-toggle="modal"></i>
                                        <div class="modal fade"  
                                           id="FF{{f.IDFF}}" data-backdrop="static" data-keyboard="false" tabindex="-1"
                                           role="dialog" aria-hidden="true">
                                           <div class="modal-dialog">
                                              <div class="modal-content">
                                                 <div class="modal-header">
                                                    <h4 class="modal-title">Modifier un frais forfaitisé</h4>
                                                 </div>
                                                 <div class="modal-body">
                                                    <form id="edit" method="post">
                                                       <div class="form-group">
                                                          <label>Date</label>
                                                          <input type="date" class="form-control" ng-model="vm.editFFForm.date" id="date" placeholder="{{vm.translateInMonth(f.mois.slice(-2))}} - {{f.mois.slice(0,4)}}">
                                                       </div>
                                                       <div class="form-group">
                                                          <label>Type de frais</label>
                                                          <select class="form-control" ng-model="vm.editFFForm.idFraisForfait" id="SelectForm" ng-model="vm.selectType">
                                                             <option disabled selected value>--  {{f.idFraisForfait}} --</option>
                                                            <option value="ETP">Forfait Etape</option>
                                                            <option value="KM">Frais Kilométrique</option>
                                                            <option value="REP">Repas Restaurant</option>
                                                            <option value="NUI">Nuitée Hôtel</option>
                                                          </select>
                                                       </div>
                                                       <div class="form-group">
                                                          <label>Description</label>
                                                          <textarea class="form-control" ng-model="vm.editFFForm.description" placeholder="{{f.description}}"></textarea>
                                                       </div>
                                                       <div class="form-group"> 
                                                          <label>Quantité</label>
                                                          <input type="number" name="quantity" min="0" ng-model="vm.editFFForm.quantite" placeholder="{{f.quantite}}">
                                                       </div>
                                                    </form>
                                                 </div>
                                                 <div class="modal-footer">
                                                    <button type="button" ng-click="vm.updateFraisFF(vm.editFFForm,f.IDFF)" class="btn btn-link">Modifier</button>
                                                    <button type="button" class="btn btn-link" data-dismiss="modal">Annuler</button>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                   </td>
                                </tr>
                             </tbody>
                          </table>
                       </div>
                       <div id="menu2" class="tab-pane fade">
                          <h2 id="h2">Eléments hors forfait de {{vm.translateIdVisiteur(vm.choiceVisiteur)}}
                             pour {{vm.translateInMonth(vm.choiceMonth.slice(-2))}}
                          </h2>
                          <table class="table table-hover table-bordered table-striped">
                             <thead>
                                <tr>
                                   <th scope="col">Date</th>
                                   <th scope="col">Libellé</th>
                                   <th scope="col">Montant</th>
                                   <th scope="col">Action</th>
                                </tr>
                             </thead>
                             <tbody>
                                <tr data-ng-repeat="f in vm.fraisHorsForfaitVisiteur">
                                   <td>{{f.date| date:"MM/dd/yyyy"}}</td>
                                   <!--   'at' h:mma -->
                                   <td>{{f.libelle}}</td>
                                   <td>{{f.montant}} €</td>
                                   <td width="10%">
                                        <i id="icone" class="fa fa-minus-circle" style=" color:red;" ng-click="vm.deleteFraisHF(f.id)"></i>
                                        <i id="icone" class="fa fa-edit" href="#FH{{f.id}}" data-toggle="modal" style=" color: green;"></i>
                                        <div class="modal fade" id="FH{{f.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1"role="dialog" aria-hidden="true">
                                           <div class="modal-dialog">
                                              <div class="modal-content">
                                                 <div class="modal-header">
                                                    <h4 class="modal-title">Modifier un frais hors forfait</h4>
                                                 </div>
                                                 <div class="modal-body">
                                                    <form id="editFHForm">
                                                       <div class="form-group">
                                                          <label for="date">Date</label>
                                                          <input type="date" class="form-control" ng-model="vm.editFHForm.date" placeholder="{{vm.translateInMonth(f.mois.slice(-2))}} - {{f.mois.slice(0,4)}}">
                                                       </div>
                                                       <div class="form-group">
                                                          <label for="TextArea">Libellé</label>
                                                          <textarea class="form-control" ng-model="vm.editFHForm.libelle" placeholder="{{f.libelle}}"></textarea>
                                                       </div>
                                                       <div class="form-group">
                                                          <label for="Quantity">Montant</label>
                                                          <input type="number" name="quantity" min="1" ng-model="vm.editFHForm.montant" placeholder="{{f.montant}}">
                                                       </div>
                                                    </form>
                                                 </div>
                                                 <div class="modal-footer">
                                                    <button type="button"  ng-click="vm.updateFraisHF(vm.editFHForm,f.id)" class="btn btn-link">Modifier</button>
                                                    <button type="button" class="btn btn-link" data-dismiss="modal">Annuler</button>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                   </td>
                                </tr>
                             </tbody>
                          </table>
                       </div>
                       <div id="menu3" class="tab-pane fade">
                          <h2 id="h2">Fiche de {{vm.translateIdVisiteur(vm.choiceVisiteur)}} pour {{vm.translateInMonth(vm.choiceMonth.slice(-2))}}
                          </h2>
                          <table class="table table-hover table-bordered table-striped">
                             <thead>
                                <tr>
                                   <th scope="col">Date</th>
                                   <th scope="col">Nombre justificatifs</th>
                                   <th scope="col">Montant</th>
                                   <th scope="col">État</th>
                                </tr>
                             </thead>
                             <tbody>
                                <tr ng-app="ngAnimate">
                                   <td>{{vm.fiche.dateModif | date:"dd/MM/yyyy"}}</td>
                                   <td>{{vm.fiche.nbJustificatifs}}</td>
                                   <td>{{vm.fiche.montantValide}} €</td>
                                   <td width="30%">
                                      <select class="form-control" id="SelectForm" ng-model="vm.choiceEtat" style="width: 100%" ng-change="vm.updateEtat(vm.choiceEtat)">
                                         <option disabled selected value>-- {{vm.fiche.libelle}} --</option>
                                         <option data-ng-repeat="e in vm.etat" value="{{e.id}}">{{e.libelle}}</option>
                                      </select>
                                   </td>
                                </tr>
                             </tbody>
                          </table>
                       </div>
                    </div>
                    <div class="widget-foot">
                       <div class="clearfix"></div>
                    </div>
                 </div>
              </div>
           </div>
        </section>
     </section>