.form-group,
#syntheseFF,
#syntheseHF {
    text-align: center;
    margin: 20px;
}

.form-group>* {
    margin-left: auto;
    margin-right: auto;
}

#BoutonAjout,
#BoutonAjout>button {
    margin: 5px;
    padding: 10px;
    font-size: 25px;
}

#SelectAffichage,
#SelectAffichage>* {
    float: right;
    border: solid 1px #96721d;
    background-color: #ffc065;
}

.table,
.alert {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70%;
    font-size: 15px;
}

thead {
    background-color: #d9d9d9;
}

td>i {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}

input[type="number"] {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#icone:hover {
    transform: scale(1.5);
}