

<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="username" class="form-control" placeholder="Login" ng-model="vm.user.username" required autofocus>
                <input type="password" id="password" class="form-control" placeholder="Mot de passe" ng-model="vm.user.password" required>

                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng-click="vm.login()">Se connecter</button>
            </form><!-- /form -->
    
        </div><!-- /card-container -->
    </div><!-- /container -->
    